*{
   margin: 0; 
   padding: 0;
   font-family: 'Poppins' , sans-serif ;
   box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background : black;
    color: aliceblue;
}
header{
    width: 100% ;
    position: sticky;
    top: 0;
    z-index: 100;
}
section {
    scroll-margin-top: 50px;
  }
nav{
    display: flex;
    padding: 0px 10%;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: rgb(7, 69, 255);
}
#Home{
    width: 100% ;
    height: 100vh;
    background-image: url(image/mbackground.jpg);
    background-size: cover;
    background-position: center;
}
#Home .container{
    padding: 10px 10%;
}
#Home h2 {
    font-size: 2rem;
    font-weight: bold;
  
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: 0.15em solid rgb(42, 40, 39); /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 20 auto; /* Gives that scrolling effect as the typing happens */ /* Adjust as needed */
    animation: typing 5s steps(40, end), blink-caret 0.75s step-end infinite;
  }
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  @keyframes blink-caret {
    from,
    to {
      border-color: transparent;
    }
    50% {
      border-color: rgb(29, 28, 28);
    }
  }






.container{
    padding: 10px 10%;
}

.logo{
    width: 140px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    color: rgb(6, 6, 6);
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0%;
    height: 3px;
    background: #470cf8;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}
.header-Text{
    margin-top : 20% ; 
    font-size: 30px;
}
.header-Text hi{
    font-size: 40px;
    margin-top: 20px;
}
.header-Text h1 span{
    color: rgb(7, 69, 255);
}
/*-----------------*/
#about{
    padding: 20px 0 5px;
    color: rgb(12, 228, 142);
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap:  40px; 
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-col-1 img{
    width: 100%;
    border-radius: 15px;
}
.about-col-2{
    flex-basis: 60%;
}
.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: rgb(213, 228, 228);
}
.tab-title{
    display: flex;
    margin: 20px 0 40px;
}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
    color: aliceblue;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #10c919;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-link::after{
    width: 100%;
}
.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}
.tab-contents ul li span{
    color:rgb(162, 190, 97);
    font-size: 14px;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block ;
}
/*---------services---------*/
#services{
    padding: none;
}
.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap:  40px; ;
    margin-top: 50px;
}
.services-list div{
    background: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}
.services-list div i{
    font-size: 50px;
    margin-bottom: 30px;
}
.services-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
    color: aqua;
}
.services-list div a{
    text-decoration: none;
    color:#fff;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}
.services-list div:hover{
    background: #372aec;
    transform: translateY(-10px);
}
/* html / css projects */
#project {
    background: var(--darker-color);
  }
  
  #project h2 {
    font-size: 6rem;
    text-align: center;
    padding: 2rem 0;
  }
  .project_container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 2rem;
    margin-top: 50px;
  }
  .grid_item {
    display: none;       /*display : gird*/
    place-items: center;
  }
  .grid_item:nth-child(1),
  .grid_item:nth-child(2),
  .grid_item:nth-child(3){
  display: inline-block;
}
  .card {
    width: 320px;
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
    overflow: hidden;
    transition: 0.2s ease-in-out;
  }
  .card:hover {
    transform: scale(1.05);
    transition: 1s ease-in-out;
  }
  .card:hover img {
    transform: scale(1.05);
    transition: 0.3s ease-in-out;
    opacity: 1.0;
  }
  .card:hover .card_content {
    /*background: rgb(232, 45, 45);
    color: var(--dark-color);
    transform: translateY(0px);*/
    height: 100%;
  }
  .card_content {
   /*padding: 2rem;
   height: 0;
    position: relative;
    top: -6.5rem;
    margin-bottom: -6.5rem;
    transition: 0.5s ease-in-out;
    transform: translateY(100px);
    text-align: center;*/
    width: 100%;
    height: 0;
    background: linear-gradient(rgb(0,0,0,0.6),#1e1bd3);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: 00.5s;
  }
  .card_content h3 {
    text-align: center;
    color: #e2d8d8;
   
  }
  .card_content p {
    text-align: center;
    color: #ebdede;
  }

  .card_content a{
    margin-top: 20px;
    color: #8d24e9;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fbf8f8;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}
  .btn{
   display: block;
    margin: 30px auto;
    border: 1px solid #10c919;
    padding: 14px 50px;
    border-radius: 5px;
    text-decoration: none;
    color:#f5ebeb;
    transition: background 0.5s;
    display: grid;
    place-items: center;
    cursor: pointer;
     /*margin-top: 20px;
    display: inline-block;
    padding:13px 30px;
    border:1px solid #334;
    color:#334;
    font-size: 16px;
    background-color: #fff;
    cursor: pointer;*/
    
}
.btn:hover{
    background: #5a1fe6;
}
/*-------portfolio------*/

/*#portfolio{
    padding: 50px 0;
}
.work-list{
    display: grid;
    grid-template-columns:  repeat(auto-fit, minmax(25px, 1fr));
    grid-gap:  40px;
    margin-top: 50px;
}
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}
.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgb(0,0,0,0.6),#ff004f);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: 00.5s;
}
.layer h3{
    font-weight: 20px;
    margin-bottom: 20px;
}
.layer a{
    margin-top: 20px;
    color: #ff004f;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}
.work:hover img{
    transform: scale(1.1);
}
.work:hover .layer{
    height: 90%;
}
.btn{
    display: block;
    margin: 50px auto;
    border: 1px solid #10c919;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color:#fff;
    transition: background 0.5s;
}
.btn:hover{
    background: #ff004f;
}*/
/*---------contact-------------*/
.contact-left{
    flex-basis:35% ;
}
.contact-right{
    flex-basis: 60%;
}
.contact-left p{
    margin-top: 30px;
}
.contact-left p i{
    color: #470ff1;
    margin-right: 15px;
    font-size: 25px;
}
.social-icons{
    margin-top: 30px;
}
.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #fff;
    display: inline-block;
    transition: transform 0.5s;
}
.social-icons a:hover{
    color: #511fc5;
    transform: translateY(-5px);
}
.btn.btn2{
    display: inline-block;
    background: #1c1fc4;
}
.contact-right form{
    width: 100%;
}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: rgb(245, 241, 241);
    padding: 15px;
    margin: 15px 0;
    color: rgb(20, 1, 1);
    font-size: 18px;
    border-radius: 6px;
}
form .btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}
.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #262626;
    font-weight: 300;
    margin-top: 20px;
    color: rgb(21, 216, 118);
}
.copyright i{
    color: #ff0004;
}
/*------------------css for small screens------*/
nav .fa-solid{
    display: none;
}
@media only screen and (max-width:600px){
    #Home{
        background-image: url(image/mobile\ .jpg);
    }
    .header-Text{
        margin-top: 100%;
        font-size: 16px;
    }
    .header-Text h1{
        font-size: 30px;
    }
    nav .fa-solid{
        display: block;
        font-size: 25px;
    }
    nav ul{
        background: #3700ff;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
       padding-top: 50px;
       z-index: 2; 
       transition: right 0.5s;
    }
    nav ul li{
        display: block;
        margin: 25px;
    }
    nav ul .fa-solid{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
.sub-title{
    font-size: 40px;
}
.about-col-1, .about-col-2{
    flex-basis: 200%;
}
.about-col-1{
    margin-bottom: 30px;
}
.about-col-2{
    font-size: 14px;
}
.tab-links{
    font-size: 16px;
    margin-right: 20px;
}
.contact-left , .contact-right{
    flex-basis: 100%;
}
.copyright{
    font-size: 14px;
}
}